.prices {
    padding-top: 60px;
    &__wrapper {
        padding: 0 50px;
        margin-top: 45px;
        display: grid;
        grid-template-columns: repeat(2, 365px);
        justify-content: space-between;
    }
    &__list {
        ul {
            position: relative;
            li {
                margin-top: 15px;
                position: relative;
                @include before_circle;
                list-style-type: none;
                &:before {
                    width: 15px;
                    height: 15px;
                    top: 3px;
                    left: -25px;
                }
            }
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
        &-price {
            font-size: 14px;
            font-weight: 700;
        }
        &-descr {
            margin-top: 5px;
            font-size: 12px;
        }
    }
}